@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Our Foundation
</p>
<p>
    There wasn’t one defining moment when Larry English realized there could be “more” to working in consulting. As a dedicated employee at an international consulting company, it was a slow build-up to what he calls his “midlife crisis at the age of 25.”

    Regular 100-hour workweeks. Watching the personal lives of colleagues and mentors suffer as they missed soccer games, dance recitals and date nights. Delivering client work and not taking the time to get to know the people behind the project…it all became too much.

    So Larry pushed pause. He left, and together with his wife, backpacked around the world for a year. He returned with a beard, long hair and inspiration to become an entrepreneur.
</p>
