@{
    ViewBag.Title = "Contact Us!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1020 Dennison Avenue<br />
    Columbus, Ohio 43201<br />
    <abbr title="Phone Number">Phone Number</abbr>
    (614)-519-0798
</address>

<address>
    <strong>Business Consulting Services</strong>   <a href="https://centricconsulting.com/business-consulting/">centricconsulting.com</a><br />
    <strong>Technology</strong> <a href="https://centricconsulting.com/technology-solutions/">centricconsulting.com</a>
</address>